<h1>つぶやき一覧</h1>

<table>
  <tr>
    <th>内容</th>
  </tr>
  
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.content %></td>
      <td><%= link_to '詳細を確認する', post_path(post) %></td>
      <td><%= link_to 'ブログを編集する', edit_post_path(post) %></td>
      <td><%= link_to 'ブログを削除する', post_path(post), method: :delete, data: { confirm:'本当に削除していいですか？'}  %></td>
    </tr>
  <% end %>
</table>

<%= link_to '新しくつぶやきを投稿する', new_post_path%>